<div class="container">
    <h2 class="title-lg mb">Question <%=@question.id %></h2>
    <p class="mb-sm"><%= @question.body %></p>
    <p><%= @question.user_id %></p>

    <div class="mt"><%= link_to fa_icon('pencil'), edit_question_path(@question), title: 'Change question' %>
    <%= button_to fa_icon('trash-o'), question_path(@question), method: :delete,title: 'remove question' %></div>

    <p class="mt"><%= link_to "All questions", questions_path(@question) %></p>
</div>